$white: #fff;
$black: #000;

$main: #B9FF41;
$green-additional: #00C664;
$dark: #111111;
$dark-light: #282826;
$light: #F6F4E9;
$graty: #AFAFA6;
$light-gray: #E4E2DC;
$red: #e31902;
$primari: #357fb4;
$yellow: #FDB714;

// text
$text-dark: #111111;
$text-light: #F6F4E9;
$text-additional: #626268;

//table
$table-width: 23%;

